@model IEnumerable<WebBaiGiang.Models.DiemDanh>

@{
    Layout = "~/Views/Shared/_LayoutGiangvien.cshtml";
    ViewData["Title"] = "Danh sách phiếu điểm danh";
    int lopIdGoc = ViewBag.LopIdGoc;
}

<div class="container mt-4">
    <h2>Danh sách phiếu điểm danh</h2>

    <a asp-action="TaoPhieu" asp-route-lopIdGoc="@lopIdGoc" class="btn btn-success mb-3">
        + Tạo phiếu điểm danh mới
    </a>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Mã phiếu</th>
                <th>Ngày tạo</th>
                <th>Hết hạn</th>
                <th>Thao tác</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.MaPhieu</strong></td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        @(item.ExpiredAt.HasValue ? item.ExpiredAt.Value.ToString("dd/MM/yyyy HH:mm") : "Không giới hạn")
                    </td>
                    <td>
                        <a asp-action="ChiTiet" asp-route-id="@item.Id" class="btn btn-sm btn-info">Xem chi tiết</a>
                        <a asp-action="Chinh sua" asp-route-id="@item.Id" class="btn btn-sm btn-info">Chỉnh sủa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
